.custom-btn1 {
    padding: 0 !important;
    width: 34px;
    height: 34px;
    background-color: #5277fb !important;
    color: #ffffff !important;
}

.theme-switch-button {
    padding: 0 !important;
    width: 34px;
    height: 34px;
    background-color: #232527 !important;
    color: #72d400 !important;
    float: right;
}

.logo {
    width: 100%;
}

.logo-name {
    color: #5277fb;
    margin: 0px 0px 0px 5px;
    font-size: 18px;
    font-weight: 600;
}

.sidebar-container {
    display: grid;
    grid-template-rows: 48px auto;
    min-width: 250px;
    padding: 22px 12px 6px 8px;
    background-color: #ffffff;
}

.main-folder {
    margin-top: 20px;
    margin-bottom: 1px;
    border-left: solid 8px #5277fb;
    padding-left: 6px;
}

.main-folder {
    margin-top: 20px;
    margin-bottom: 1px;
    border-left: solid 4px #5277fb;
    padding-left: 6px;
}

.listing {
    color: #757575 !important;
    border-top: 1px solid #ebebeb !important;
    /* border-radius: 20px; */
}

.listing:hover {
    background-color: #5277fb;
    border-top: solid 1px gray !important;
    color: #f4f5f7 !important;
}

.listing-active {
    border-left: solid 4px #5277fb !important;
    /* background-color: #72d400 !important; */
    border-top: 1px solid #ebebeb !important;
    color: #101214 !important;
}