
.main-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 -3px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: stretch;
    width: 100%;
}

.file-box-simple {
    margin: 0px 0px;
    padding: 7px 18px;
    font-size: 16px;
    font-weight: 400;
    color: #707381;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
}

.file-box-simple:hover {
    background-color: #5277fb;
    color: #ebebeb
}

.file-box {
    text-align: center;
    margin:0 12px;
    width: 60px;
    word-break: break-word;
}

.file-icon {
    font-size: 40px;
    color: #72d400;
    line-height: 0;
}

.file-icon-simple {
    font-size: 16px;
    color: #5277fb;
    line-height: 0;
}

.file-name {
    font-size: 12px;
    font-weight: 600;
}

.file-body {
    /* display: flex; */
    flex-wrap: wrap;
    overflow-y: auto;
}

.file-c {
    align-items: center;
    justify-content: center;
}

.file-name {
    font-size: 16px;
}