.main-container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: stretch;
    width: 100%;
}

.file-body {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}